<div class="container">
    <form class="form-container"
          [formGroup]="forgotPasswordForm">
        <h3>Nie pamiętasz hasła?</h3>
        <div>
            <input type="email"
                   name="email"
                   formControlName="email"
                   placeholder="Adres email"
                   [ngClass]="{'invalid-input': email.invalid && (email.touched || email.dirty)}">
            <div *ngIf="email.invalid && (email.touched || email.dirty)"
                 class="validation-container">
                <div *ngIf="email.errors.required">
                    Pole wymagane.
                </div>
                <div *ngIf="email.errors.email">
                    Adres email jest w niewłaściwym formacie.
                </div>
            </div>
        </div>
        <button class="reset-btn"
                type="submit"
                [disabled]="clicked"
                (click)="sendPasswordResetEmail()">Resetuj hasło</button>
        <button class="back-button"
                routerLink="/log-in-page">Wróć do logowania</button>
    </form>
</div>