h3 {
    font-size: 22px;
    text-align: center;
    margin: 0px;
    font-family: "Courgette";
}

h3,
h4 {
    color: var(--font-grey);
    font-weight: bold;
}

h4 {
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 0px;
}

h5 {
    text-align: center;
    padding: 100px 0px;
    font-size: 15px;
    color: grey;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
}

.image-container {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.clipboard-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .mini-fab-button {
        margin-left: 25px;
    }
}

ul {
    padding: 0px 0px 10px 30px;
}

quill-view-html {
    font-size: 14px;
}

@media (min-width: 768px) {
    .flex-container {
        max-width: 768px;
        display: flex;
        column-gap: 25px;
        padding: 0px 20px;
        margin: 0px auto;
    }

    .name-container {
        max-width: 500px;
        margin: 0px;
    }

    .ingredients-container {
        width: 250px;
        margin: 0px;
    }

    .recipe-container {
        min-width: 600px;
        width: 100%;
    }
}
