.container {
    width: 700px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 22px;
    text-align: center;
    color: #38424c;
    margin-bottom: 30px;
}

button {
    width: 300px;
    padding: 15px;
    margin-bottom: 5px;
    border: none;
    background-color: #b4531b;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s;
}

.yes-btn:hover {
    background-color: #8c2908;
}

.close-btn {
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #8b8888;
    transition: border 1s;
}

.close-btn:hover {
    border: solid 1px #000000;
}
