.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 200px;
    padding: 15px;
    border: none;
    background-color: #b4531b;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.yes-btn {
    margin-bottom: 10px;
    transition: background-color 1s;
}

.yes-btn:hover {
    background-color: #8c2908;
}

.back-btn {
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #8b8888;
    transition: border 1s;
}

.back-btn:hover {
    border: solid 1px #000000;
}

h3,
h4 {
    color: #38424c;
    text-align: center;
}

h3 {
    font-size: 22px;
}

h4 {
    font-family: "Courgette";
}

.no-img {
    display: none;
}

@media (max-width: 599px) {
    .dialog-container {
        width: 250px;
    }

    .img-container {
        width: 250px;
        height: 200px;
        margin: 0px auto 20px;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

@media (min-width: 600px) {
    .dialog-container {
        width: 400px;
    }

    .img-container {
        width: 400px;
        height: 350px;
        margin: 0px auto 20px;
    }

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}
