.dialog-container {
    width: 400px;
    height: 200px;
    text-align: center;
    position: relative;
}

mat-form-field {
    width: 220px;
    padding: 10px 0px;
}

.validation-container {
    color: red;
}

.btn-container {
    width: 400px;
    position: absolute;
    bottom: 0;
}

button {
    width: 100px;
    height: 50px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #830e4e;
    cursor: pointer;
}
