.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 50px;
    position: relative;
}

h3 {
    color: #38424c;
    font-size: 22px;
    text-align: center;
}

input {
    width: 180px;
    height: 40px;
    background-color: #eaf2f8;
    border: solid 1px #8b8888;
    border-radius: 2px;
    padding: 0px;
    padding-left: 20px;
}

input:focus {
    border: solid 1px #b4531b;
    outline: none;
}

.validation-container {
    width: 202px;
    color: #f44336;
    font-size: 10px;
}

.invalid-input {
    border: solid 1px #f44336;
}

button {
    width: 202px;
    padding: 15px;
    border: none;
    background-color: #b4531b;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s;
}

button:hover {
    background-color: #8c2908;
}

mat-spinner {
    position: absolute;
    top: -13%;
    z-index: 1;
}
