<div [formGroup]="registrationForm"
     class="registration-container">
       <h3>Rejestracja</h3>
       <div>
              <input type="text"
                     name="username"
                     formControlName="username"
                     placeholder="Nazwa użytkownika"
                     [ngClass]="{'invalid-input': username.invalid && (username.touched || username.dirty)}">
              <div *ngIf="username.invalid && (username.touched || username.dirty)"
                   class="validation-container">
                     <div *ngIf="username.errors.required">
                            Pole wymagane.
                     </div>
                     <div *ngIf="username.errors.minlength">
                            Nazwa użytkownika powinna składać się z&nbsp;min. 3 znaków.
                     </div>
                     <div *ngIf="username.errors.maxlength">
                            Nazwa użytkownika powinna składać się z&nbsp;max. 20 znaków.
                     </div>
                     <div *ngIf="username.errors.pattern">
                            Nazwa użytkownika powinna składać się z&nbsp;liter od a do z oraz cyfr od 0 do 9.
                     </div>
              </div>
       </div>
       <div>
              <input type="password"
                     formControlName="password"
                     placeholder="Hasło"
                     [ngClass]="{'invalid-input': password.invalid && (password.touched || password.dirty)}">
              <div *ngIf="password.invalid && (password.touched || password.dirty)"
                   class="validation-container">
                     <div *ngIf="password.errors.required">
                            Pole wymagane.
                     </div>
                     <div *ngIf="password.errors.minlength">
                            Hasło powinno składać się z&nbsp;min. 6 znaków.
                     </div>
                     <div *ngIf="password.errors.maxlength">
                            Hasło powinno składać się z&nbsp;max. 20 znaków.
                     </div>
                     <div *ngIf="password.errors.pattern">
                            Hasło powinno składać się z liter od a do z, cyfr od 0 do 9 oraz znaków specjalnych: !, ?,
                            @, #, $, %, ^, &, *, +, =.
                     </div>
              </div>
       </div>
       <div>
              <input type="password"
                     formControlName="passwordConfirmation"
                     placeholder="Potwierdzenie hasła"
                     [ngClass]="{'invalid-input': (passwordConfirmation.invalid || registrationForm.errors?.mustMatch) && (passwordConfirmation.touched || passwordConfirmation.dirty)}">
              <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.touched || passwordConfirmation.dirty)"
                   class="validation-container">
                     <div *ngIf="passwordConfirmation.errors.required">
                            Pole wymagane.
                     </div>
              </div>
              <div *ngIf="registrationForm.errors?.mustMatch"
                   class="validation-container">
                     Hasło i potwierdzenie hasła muszą być takie same.
              </div>
       </div>
       <div>
              <input type="email"
                     formControlName="email"
                     placeholder="Adres email"
                     [ngClass]="{'invalid-input': email.invalid && (email.touched || email.dirty)}">
              <div *ngIf="email.invalid && (email.touched || email.dirty)"
                   class="validation-container">
                     <div *ngIf="email.errors.required">
                            Pole wymagane.
                     </div>
                     <div *ngIf="email.errors.email">
                            Adres email jest w niewłaściwym formacie.
                     </div>
              </div>
       </div>
       <button (click)="createUser()">Zarejestruj się</button>
       <mat-spinner *ngIf="register"></mat-spinner>
</div>