h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: default;
    text-align: center;
    font-weight: bold;
    color: #38424c;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    justify-content: space-between;
    border-bottom: solid 1px #38424c;
    padding: 20px 30px 0px 30px;
    background-color: #ffffff;
}

.add-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn {
    background-color: #0c5bc2;
    color: #ffffff;
    margin-left: 30px;
}

.display-options-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.34375em;
}

.display-btn {
    border: none;
    cursor: pointer;
    color: #38424c;
    background: none;
}

.display-option {
    font-size: 40px;
}

.sort-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: fit-content;
}

.list-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    row-gap: 20px;
    width: fit-content;
}

@media (max-width: 768px) {
    .gallery-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        column-gap: 10px;
        row-gap: 10px;
        justify-content: space-evenly;
        align-items: center;
    }
}
