<div class="container">
    <div class="display-options-container">
        <button class="display-btn">
            <mat-icon class="display-option">
                grid_view
            </mat-icon>
        </button>
        <button class="display-btn">
            <mat-icon class="display-option">
                format_list_bulleted
            </mat-icon>
        </button>
    </div>
    <div class="sort-options-container">
        <mat-form-field appearance="fill">
            <mat-label>Sortuj</mat-label>
            <mat-select [formControl]="sortByOptionControl">
                <mat-option *ngFor="let dropdownOption of sortByDropdownValues"
                            [value]="dropdownOption.sortByOption">
                    {{dropdownOption.displayValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="add-btn-container">
    <h3>Dodaj nowy obiad</h3>
    <button class="add-btn"
            mat-mini-fab>
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="list-container">
    <app-meal *ngFor="let meal of meals | async"
              [meal]="meal"></app-meal>
</div>
<h3>Liczba obiadów: {{ (meals | async).length}}</h3>