.page {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto 30px;
    max-width: 400px;
    padding: 30px;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .display-options-container {
        display: flex;
        align-items: flex-start;
        column-gap: 40px;
    }

    .display-btn {
        border: none;
        cursor: pointer;
        color: #38424c;
        background: none;
    }

    .gallery-btn,
    .list-btn {
        color: #b4531b;
    }

    .back-btn {
        width: 300px;
        padding: 15px;
        margin-bottom: 30px;
        border: none;
        background-color: #b4531b;
        color: #ffffff;
        font-size: 10px;
        font-weight: bold;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 1s;
    }

    .back-btn:hover {
        background-color: #8c2908;
    }

    .display-option {
        font-size: 40px;
    }

    .sort-options-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    mat-form-field {
        width: fit-content;
    }

    .header {
        margin: 10px auto 0px;
    }
}

.page:before,
.page:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.page:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.page:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

mat-card.gallery-card {
    width: 300px;
    height: 450px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3) !important;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 180px;
    }
}

mat-card.list-card {
    width: 432px;
    height: 52px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    div {
        display: flex;
        align-items: center;
    }

    h3 {
        margin: 0px;
    }

    button {
        margin-left: 50px;
    }
}

.list-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    row-gap: 20px;
    width: fit-content;
}

.gallery-container {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.add-btn {
    background-color: #b4531b;
    color: #ffffff;
}

.add-btn:hover {
    background-color: #8c2908;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #38424c;
}
