.log-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position: relative;
}

h3 {
    color: var(--font-grey);
    font-size: 22px;
    text-align: center;
}

input {
    width: 178px;
    height: 40px;
    background-color: #eaf2f8;
    border: solid 1px var(--border-grey);
    border-radius: 2px;
    padding: 0px 0px 0px 20px;
}

input:focus {
    border: solid 1px var(--main-orange);
    outline: none;
}

mat-spinner {
    position: absolute;
    top: 85%;
    z-index: 1;
}

mat-divider {
    border-top-color: var(--border-grey);
}
