.log-in-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 50px;
}

.validation-container {
    color: #f01717;
}

h3 {
    color: #38424c;
    font-size: 22px;
    text-align: center;
}

input {
    width: 180px;
    height: 40px;
    background-color: #eaf2f8;
    border: solid 1px #8b8888;
    border-radius: 2px;
    padding: 0px;
    padding-left: 20px;
}

button {
    width: 202px;
    padding: 15px;
    border: none;
    background-color: #1b84b4;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.new-password-button {
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #8b8888;
}
