.log-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 30px;
}

.validation-container {
    color: #f44336;
}

h3 {
    color: #38424c;
    font-size: 22px;
    text-align: center;
}

input {
    width: 180px;
    height: 40px;
    background-color: #eaf2f8;
    border: solid 1px #8b8888;
    border-radius: 2px;
    padding: 0px 0px 0px 20px;
}

input:focus {
    border: solid 1px #b4531b;
    outline: none;
}

button {
    width: 202px;
    padding: 15px;
    border: none;
    background-color: #b4531b;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.new-password-button {
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #8b8888;
}

mat-divider {
    border-top-color: #8b8888;
}
