<div class="container">
    <form class="form-container"
          [formGroup]="passwordResetForm">
        <h3>Ustaw nowe hasło</h3>
        <div>
            <input type="password"
                   formControlName="password"
                   placeholder="Hasło"
                   [ngClass]="{'invalid-input': password.invalid && (password.touched || password.dirty)}">
            <div *ngIf="password.invalid && (password.touched || password.dirty)"
                 class="validation-container">
                <div *ngIf="password.errors.required">
                    Pole wymagane.
                </div>
                <div *ngIf="password.errors.minlength">
                    Hasło powinno składać się z&nbsp;min. 6 znaków.
                </div>
                <div *ngIf="password.errors.maxlength">
                    Hasło powinno składać się z&nbsp;max. 20 znaków.
                </div>
                <div *ngIf="password.errors.pattern">
                    Hasło powinno składać się z przynajmniej jednej wielkiej litery, jednej małej litery, jednej
                    cyfry oraz jednego znaku specjalnego.
                </div>
            </div>
        </div>
        <div>
            <input type="password"
                   formControlName="passwordConfirmation"
                   placeholder="Potwierdzenie hasła"
                   [ngClass]="{'invalid-input': (passwordConfirmation.invalid || passwordResetForm.errors?.mustMatch) && (passwordConfirmation.touched || passwordConfirmation.dirty)}">
            <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.touched || passwordConfirmation.dirty)"
                 class="validation-container">
                <div *ngIf="passwordConfirmation.errors.required">
                    Pole wymagane.
                </div>
            </div>
            <div *ngIf="passwordResetForm.errors?.mustMatch"
                 class="validation-container">
                Hasło i potwierdzenie hasła muszą być takie same.
            </div>
        </div>
        <button class="reset-btn"
                type="submit"
                (click)="confirmPasswordReset()">Resetuj hasło</button>
    </form>
</div>