<div *ngIf="layoutType == 'gallery'">
    <mat-card class="gallery-meal-card">
        <div class="image-container">
            <img [src]="meal.imageUrl">
            <button class="edit-btn"
                    mat-mini-fab
                    [routerLink]="['/meal', meal.id, 'edit']">
                <mat-icon>create</mat-icon>
            </button>
            <button class="delete-btn"
                    mat-mini-fab
                    (click)="openDeleteDialog()">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </div>
        <div class="content">
            <h4 [routerLink]="['/meal', meal.id, 'view']">{{ meal.name }}</h4>
            <h5 *ngIf="meal.lastDrawDate; else elseMessage">
                Ostatnio wylosowany: {{ meal.lastDrawDate | date: "longDate" }}
            </h5>
            <ng-template #elseMessage>
                <h5>Jeszcze nie wylosowano tego obiadu</h5>
            </ng-template>

        </div>
        <button class="add-btn"
                routerLink="">Dodaj do planu tygodnia</button>
    </mat-card>
</div>
<div *ngIf="layoutType == 'list'">
    <mat-card class="list-meal-card">
        <span>{{ meal.name }}</span>
        <span *ngIf="meal.lastDrawDate; else elseMessage">
            Ostatnio wylosowany: {{ meal.lastDrawDate | date: "longDate" }}
        </span>
        <ng-template #elseMessage>
            <span>Jeszcze nie wylosowano tego obiadu</span>
        </ng-template>
    </mat-card>
</div>