<mat-card class="gallery-meal-card"
          *ngIf="layoutType == 'gallery'">
    <div class="image-container">
        <img [src]="meal.imageUrl"
             *ngIf="meal.imageUrl; else elseImageMessage"
             [routerLink]="['/meal', meal.id, 'view']">
        <button class="edit-btn"
                mat-mini-fab
                [routerLink]="['/meal', meal.id, 'edit']">
            <mat-icon>create</mat-icon>
        </button>
        <button class="delete-btn"
                mat-mini-fab
                (click)="openDeleteDialog()">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>
    <div class="content">
        <h4 [routerLink]="['/meal', meal.id, 'view']">{{ meal.name }}</h4>
        <h5 *ngIf="meal.plannedDates.length, else elseMessage">
            {{ getMessage() }} {{ findClosestDate() | date: "longDate" }}
        </h5>
        <ng-template #elseMessage>
            <h5>Jeszcze nie ugotowano tego obiadu</h5>
        </ng-template>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Kiedy chcesz to ugotować?</mat-label>
        <input matInput
               [min]="minDate"
               [max]="maxDate"
               [matDatepickerFilter]="dateFilter"
               [matDatepicker]="datepicker"
               [formControl]="date">
        <mat-datepicker-toggle matSuffix
                               [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <button (click)="addToMealPlan(date)"
            class="add-btn"
            [disabled]="date.invalid"
            [ngClass]="{
                'add-btn': date.valid,
                'disabled-btn': date.invalid}">Dodaj do planu tygodnia</button>
    <ng-template #elseImageMessage>
        <h5 class="no-image-msg"
            [routerLink]="['/meal', meal.id, 'view']">Brak zdjęcia</h5>
    </ng-template>
</mat-card>
<mat-card class="list-meal-card"
          *ngIf="layoutType == 'list'">
    <span>{{ meal.name }}</span>
    <span *ngIf="meal.plannedDates.length; else elseMessage">
        {{ getMessage() }} {{ findClosestDate() | date: "longDate" }}
    </span>
    <ng-template #elseMessage>
        <span>Jeszcze nie ugotowano tego obiadu</span>
    </ng-template>
</mat-card>