.gallery-meal-card {
    width: 300px;
    margin: 10px;
    cursor: pointer;
}

mat-card {
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3) !important;
}

img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.image-container {
    position: relative;
    width: 300px;
    height: 250px;
}

.edit-btn {
    background-color: #0c5bc2;
    color: #ffffff;
    margin: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.add-btn {
    width: 300px;
    padding: 15px;
    margin-bottom: 5px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    background-color: #1b84b4;
    color: #ffffff;
}

h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #38424c;
    margin-top: 10px;
    font-family: "Courgette";
}

h5 {
    color: #38424c;
}

.content {
    text-align: center;
    cursor: pointer;
}

.list-meal-card {
    width: 400px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
