.meal-card {
    width: 400px;
    margin: 10px;
}

img {
    width: 100%;
}

.image-container {
    position: relative;
}

.edit-btn {
    background-color: #0c5bc2;
    color: #ffffff;
    margin: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.content {
    text-align: center;
}