.page {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto 30px;
    max-width: fit-content;
    padding: 30px;
    position: relative;
    width: 80%;
}

.page:before,
.page:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.page:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.page:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

h3 {
    color: #38424c;
    font-size: 22px;
    text-align: center;
    margin: 20px auto;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 300px;
    padding: 15px;
    margin-bottom: 5px;
    border: none;
    background-color: #b4531b;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.list-btn {
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #8b8888;
}

.planner-container {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
