<div class="page">
    <h3>Hej imię! Jak się masz?</h3>
    <h3>Ostatnio wylosowane obiady</h3>
    <div class="last-meals-container">
        <app-last-drawed-meals></app-last-drawed-meals>
    </div>
    <div class="btn-container">
        <button class="btn blue-btn">Wylosuj nowy obiad</button>
        <button class="btn"
                routerLink="meal-list">Przejdź do listy obiadów</button>
    </div>
    <h3>Plan tygodnia</h3>
    <table>
        <tr>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
        </tr>
        <tr cdkDropList
            cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event)">
            <td *ngFor="let meal of drawedMeals"
                cdkDrag>{{meal}}</td>
        </tr>
    </table>
</div>