.paper-background {
    max-width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--font-grey);
    font-size: 22px;
    text-align: center;
    margin: 0px;
}

.btn-primary {
    margin: 20px auto 0px;
}

.planner-container {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
