* {
    box-sizing: border-box;
}

.form-container {
    display: grid;
    grid-template-areas:
        "button button"
        "name image"
        "list image"
        "recipe recipe";
    grid-template-columns: 450px 1fr;
    grid-template-rows: min-content 150px min-content min-content;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto 30px;
    max-width: 1000px;
    padding: 30px;
    position: relative;
    width: 80%;
}

.form-container:before,
.form-container:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.form-container:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.form-container:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

.btn-container {
    grid-area: button;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 30px 30px;

    .back-btn,
    .add-meal-btn,
    .disabled-btn {
        width: 300px;
        padding: 15px;
        border: none;
        font-size: 10px;
        font-weight: bold;
        border-radius: 2px;
        color: #ffffff;
    }

    .disabled-btn,
    .disabled-btn:hover {
        background-color: #7e7e7e;
    }

    .add-meal-btn {
        background-color: #b4531b;
        transition: background-color 1s;
    }

    .add-meal-btn:hover {
        background-color: #8c2908;
    }

    .back-btn {
        background-color: #ffffff;
        border: solid 1px #8b8888;
        color: #000000;
        transition: border 1s;
    }

    .back-btn:hover {
        border: solid 1px #000000;
    }
}

.name-container {
    grid-area: name;

    mat-form-field {
        width: 400px;
    }

    .validation-container {
        width: 400px;
        font-size: 12px;
        color: #f44336;
    }
}

.image-container {
    grid-area: image;

    .dropzone {
        height: 400px;
        text-align: center;
        border: solid 1px #8b8888;
        border-radius: 2px;
        background-color: #ffffff;
        position: relative;
    }

    .drop-icon {
        color: #38424c;
        font-size: 160px;
        padding: 10px 30px;
        margin: 30px;
    }

    label {
        display: inline-block;
        background-color: #b4531b;
        color: #ffffff;
        width: 300px;
        padding: 15px;
        border: none;
        font-size: 10px;
        font-weight: bold;
        border-radius: 2px;
        margin-bottom: 10px;
        transition: background-color 1s;
        cursor: pointer;
    }

    label:hover {
        background-color: #8c2908;
    }

    #upload-img {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 300px;
        top: 0;
        left: 0;
        cursor: default;
    }

    .inserted-img {
        max-width: 100%;
    }

    .inserted-img-container {
        position: relative;
    }

    mat-progress-bar {
        width: 400px;
        margin: 10px auto 0px;
    }
}

.list-container {
    grid-area: list;
    position: relative;
    margin-bottom: 50px;
    margin-right: 50px;
}

.recipe-container {
    grid-area: recipe;
    padding: 20px 0px;
    max-width: 940px;

    .recipe-area {
        display: block;
        background-color: #ffffff;
        margin-bottom: 20px;
    }
}

button {
    cursor: pointer;
}

h3 {
    color: #38424c;
    font-size: 22px;
}

h4 {
    color: #38424c;
    margin-bottom: 10px;
}

.delete-image-btn,
.delete-item-list-btn {
    background-color: #b4531b94;
    position: absolute;
    right: 0px;
}

.delete-image-btn {
    margin: 10px 10px 0px 0px;
    top: 0px;
}

.delete-item-list-btn {
    margin-right: 10px;
}

.add-item-list-btn {
    background-color: #b4531b;
    position: absolute;
    left: 45%;
}

.add-item-list-btn:hover {
    background-color: #8c2908;
}

.delete-image-btn:hover,
.delete-item-list-btn:hover {
    background-color: #b4531b;
}

.ingredients-list {
    width: 400px;
    max-width: 100%;
    border: solid 1px #8b8888;
    min-height: 60px;
    display: block;
    background: #ffffff;
    border-radius: 2px;
    overflow: hidden;
}

.ingredient-box {
    padding: 20px 10px;
    border-bottom: solid 1px #8b8888;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: #ffffff;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
