// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$obiadkowo-orange: (
  50: #f6eae4,
  100: #e9cbbb,
  200: #daa98d,
  300: #cb875f,
  400: #bf6d3d,
  500: #b4531b,
  600: #ad4c18,
  700: #a44214,
  800: #9c3910,
  900: #8c2908,
  A100: #ffc8ba,
  A200: #ff9f87,
  A400: #ff7654,
  A700: #ff623b,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

$obiadkowo-palette-primary: mat-palette($obiadkowo-orange);
$obiadkowo-palette-accent: mat-palette($obiadkowo-orange);

// The warn palette is optional (defaults to red).
$obiadkowo-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$obiadkowo-theme: mat-light-theme(
  (
    color: (
      primary: $obiadkowo-palette-primary,
      accent: $obiadkowo-palette-accent,
      warn: $obiadkowo-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($obiadkowo-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #b4531b;
  --secondary: #ffffff;
  --faded-orange: #b4531b94;
  --dark-orange: #8c2908;
  --disable-grey: #7e7e7e;
  --error-red: #f44336;
  --border-grey: #8b8888;
  --font-grey: #38424c;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url(assets/andrey-haimin-q2Fyzn-KJOQ-unsplash.jpg);
}

.tooltip-orange {
  background: var(--primary);
}

.paper-background {
  background: var(--secondary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 30px auto;
  padding: 25px;
  position: relative;
  width: 75%;
}

.paper-background:before,
.paper-background:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.paper-background:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}

.paper-background:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.btn {
  width: 200px;
  padding: 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  transition: background-color 1s;
}

.btn-primary:hover {
  background-color: var(--dark-orange);
}

.btn-secondary {
  background-color: var(--secondary);
  color: #000000;
  border: solid 1px var(--border-grey);
  transition: border 1s;
}

.btn-secondary:hover {
  border: solid 1px #000000;
}

.btn[disabled],
.btn[disabled]:hover {
  background-color: var(--disable-grey);
  color: var(--secondary);
  border: none;
}

.mini-fab-button {
  background-color: var(--primary);
}

.mini-fab-button:hover {
  background-color: var(--dark-orange);
}

.secondary-mini-fab-button {
  background-color: var(--faded-orange) !important;
}

.secondary-mini-fab-button:hover {
  background-color: var(--primary) !important;
}

.error-msg {
  color: var(--error-red);
  font-size: 12px;
}
