mat-toolbar {
    background-color: var(--main-orange);
    display: flex;
    justify-content: space-between;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin: 0px 30px;
    cursor: pointer;
}
