.example-spacer {
    flex: 1 1 auto;
}

.btn {
    background-color: #3f51b5;
    border: none;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

mat-icon {
    display: flex;
    margin-right: 15px;
}