<mat-toolbar color="primary">
    <button mat-icon-button
            class="btn">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">Dashboard</a>
    <span class="example-spacer"></span>
    <button mat-icon-button
            class="btn">
        <span class="material-icons">
            search
        </span>
    </button>
    <button mat-icon-button
            class="btn">
        <span class="material-icons">
            more_vert
        </span>
    </button>
</mat-toolbar>