mat-toolbar {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--secondary);
    text-decoration: none;
    margin: 0px 30px;
    cursor: pointer;
}
