<mat-card>
    <h4 class="date-header">{{ plannedMeal.date | date : 'fullDate' }}</h4>
    <div *ngIf="currentMeal">
        <div class="image-container">
            <img [src]="currentMeal.imageUrl"
                 *ngIf="currentMeal.imageUrl; else elseImageMessage">
            <button class="mini-fab-button"
                    mat-mini-fab
                    (click)="openDeleteFromMealPlanDialog(plannedMeal?.date)">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </div>
        <div>
            <h4 class="name-header">{{ currentMeal?.name }}</h4>
            <h4>{{ currentIndex + 1 }} z {{plannedMeal.meals.length}} zaplanowanych obiadów</h4>
        </div>
    </div>
    <div *ngIf="!currentMeal && plannedMeal.isDrawPossible">
        <h5>Zaplanuj danie</h5>
        <button class="btn btn-primary"
                (click)="openDrawDialog(plannedMeal?.date)">Wylosuj obiad</button>
    </div>
    <div *ngIf="!currentMeal && !plannedMeal.isDrawPossible && (meals | async)?.length !== 0">
        <h5>Zaplanowano wszystkie możliwe obiady. Dodaj nowy obiad do listy.</h5>
    </div>
    <div *ngIf="(meals | async)?.length == 0">
        <h5>Lista posiłków jest pusta. Dodaj obiad do listy.</h5>
    </div>
    <button class="arrow-back"
            (click)="displayPreviousMeal()"
            *ngIf="currentIndex !== 0">
        <mat-icon>
            arrow_back
        </mat-icon>
    </button>
    <button class="arrow-forward"
            (click)="displayNextMeal()"
            *ngIf="currentIndex !== plannedMeal.meals.length">
        <mat-icon>
            arrow_forward
        </mat-icon>
    </button>
    <ng-template #elseImageMessage>
        <h5 class="no-image-msg">Brak zdjęcia</h5>
    </ng-template>
</mat-card>